h1 {
	background: black; color: white;
}
#Activity {
	background: black; color: white;
}
body div header div {
	background: black; color: white;
}
main .SectionText {
	background: black; color: white;
}